body {
    background-color: #39aab677;
  }
  h1, h2, h3 {
    color: #25138b;
    font-family: Times New Roman, sans-serif;
  }

  p{
    width: 100;
    font-family: Times New Roman, sans-serif;

  }
  
  nav{
    position:static;
    display: flex;
    width: 100%;
    background-color:none;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  a {
    background-color:#25138b2d;
    border: none;
    color: #25138b;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Times New Roman, sans-serif;
  }

  nav a:hover, nav a:focus {
    background-color: #fff;
  }

  a[href="trucos.html"] {
    background-color: #fff;
  }  

  table {
    border-collapse: collapse;
    border: 2px;
    width: 70%;
  }
  td, th {
    border: 1px;
    padding: 10px;

  }
 
